body {
    color: #797979;
    background: #FAFAFA;
    font-family: 'Open sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 1.2rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    margin: 0;
    padding: 0;
}
.no-padding {
    padding: 0;
}
.no-padding-left {
    padding-left: 0;
}
.no-padding-right {
    padding-right: 0;
}
.btn {
    border-radius: 0px;
}
.bg-white {
    background-color: #fff;
}


/* SIDE BAR */
.check-box {
    position: relative;
}
.check-box .fa {
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 51%;
    color: #60a0cf;
}
.hotels-count {
    background-color: #fff;
    padding: 5px 0px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}
.accommodation-search {
    padding: 5px;
    background-color: #fff;
}
.facilities img {
    width: 20px;
    height: 20px;
}
aside .form-group {
    margin-bottom: 10px;
}
aside input[type='text'], aside select {
    display: block;
    width: 100%;
    padding: 5px;
    border:1px solid #bebebe;
}
aside button[type='submit'] {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}
aside label {
    display: block;
    width: 100%;
    font-weight: 300;
}
aside .title {
    font-weight: 600;
    font-size: 17px;
    color: #60A0CF;
    margin-bottom: 10px;
    margin-top: 10px;
    font-style: italic;
}
aside .title:before {
    content : "";
    position: absolute;
    left    : 0;
    right: 0;
    bottom  : 0;
    height  : 1px;
    width   : 40%;  /* or 100px */
    margin: 0 auto;
    /* border-bottom: 2px solid #60A0CF; */
}

/* HOTELS LIST */
.hotels-sorting {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px 5px;
}
.each-hotel {
    background-color: #fff;
    margin-bottom: 15px;
    font-weight: 300;
}
.each-hotel .main-facility img {
    max-width: 25px;
    max-height: 25px;
}
.hotels-list img {
    max-width: 100%;
}
.hotel-box-wrapper {
    padding: 5px 10px;
}
.each-hotel .hotel-title h3{
    border-bottom: 1px solid #bebebe;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 5px;
}
.each-hotel .location-name {
    color: #60A0CF;
    font-size: 14px;
}
.each-hotel .distance {
    float: right;
}
.each-hotel .hotel-desc {
    margin-top: 10px;
    font-size: 14px;
    text-align: justify
}
.each-hotel .hotel-main-facilities {
    margin-top: 10px;
}
.each-hotel .location-distances {
    margin-top: 5px;
}
.each-hotel .read-more a {
    color: #60A0CF;
}
.each-hotel .hotel-title a {
    display: block;
}

.flag-icon{
    width: 18px;
    height: 18px;
}

.flat{
    border-radius: 0;
}

.navbar-flat{
    border: none;
    border-radius: 0;
    background-image: none;
    box-shadow: 0;
    border-bottom: 5px solid #64a1fd;
}

.navbar-flat li{
    border-radius: 2px 0 2px 0;
}

.navbar-flat li a, .navbar-flat li.active a{
    background-image: none;
}

.navbar-flat li.active a{
    color: #fff;
    background-color: #64a1fd;
}

.header-lrg{
    background-color: #FFFFFF;
    min-height: 125px;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.flex-between{
    justify-content: space-between;
}

.flex-around{
    justify-content: space-around;
}

.flex-center{
    justify-content: center;
}

.auto-ml{
    margin-left: auto;
}

.auto-mr{
    margin-right: auto;
}

.auto-mh{
    margin-left: auto;
    margin-right: auto;
}

.text-semibold{
    font-weight: 600;
}

.header-row{
    padding: 0 10px 20px 10px;
}

.icon-sign{
    margin: 0 5px;
}

.icon{
    height: 25px;
}

.people-img{
    
    margin-right: -12px;
}

.fixed-carousel{
    padding: 2px;
    height: 420px;
    width: 100%;
}

.fixed-carousel .carousel-inner > .item > img{
    display: block;
    max-height: 100%;
    line-height: 1;
    margin: 0 auto;
    max-width: 100%;
}

.panel-flat{
    border-radius: 0; 
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}

.panel-flat .panel-heading{
    border-bottom: 1px solid #5A0000;
}



.mt{
    margin-top: 16px;
}

.mb-sm{
    margin-bottom: 8px;
}


/* Twiter button */

.tweet{
    margin-right: 2px;
    position: relative;
    display: inline-block;
    height: 20px;
    padding: 0 6px;
    color: #fff;
    cursor: pointer;
    background-color: #1b95e0;
    border-radius: 3px;
    box-sizing: border-box;
    text-decoration: none;
    transition: background-color .2s ease;
}
/* transform scale(1) */
.tweet i{
  position: relative;
  top: 4px;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 11px;
  background-image: url("http://andreasstorm.com/lib/tweet.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 144px 11px;  
}
.tweet span{
  position: relative;
  top: 4px;
  left: -2px;
  vertical-align: top;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
  font-size: 11px;
}
.tweet:hover{
  background-color: #0c7abf;
}
.tweet:hover i{
  animation: tweet .6s steps(7) infinite;
}

@-moz-keyframes tweet {
	100% {
		background-position: -126px 0;
	}
}

@-webkit-keyframes tweet {
	100% {
		background-position: -126px 0;
	}
}

@-o-keyframes tweet {
	100% {
		background-position: -126px 0;
	}
}

@keyframes tweet {
	100% {
		background-position: -126px 0;
	}
}