body {
    color: #797979;
    background: #eeeeee;
    font-family: 'Open sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
}

.each-hotel {
    margin-bottom: 15px;
}
.hotels-list img {
    max-width: 100%;
}
.hotels-list h3 {
    margin: 0;
}